<div class="row">
<div class="col-8">
  <div class="card">
    <div class="card-header bg-success">
      <h6>Product List</h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
@for (item of productList; track $index) {
  <tr>
    <td>{{$index+1}}</td>
    <td>{{item.productName}}</td>
    <td>{{item.productDescription}}</td>
    <td>{{item.productQuantity}}</td>
    <td class="text-center">
<button type="button" class="btn btn-primary" (click)="onEdit(item)">Edit</button>
<button type="button" class="btn btn-danger mx-2" (click)="onDelete(item.prodID)">Delete</button>
    </td>
  </tr>
}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="card">
<div class="card-header bd-success">
  New Product
</div>
<div class="card-body">
  <form [formGroup]="productForm">
  <div class="row">
    <div class="col-6">
      <label for="">Product Name</label>
      <input type="text" formControlName="productName" class="form-control">
      <div class="text-danger">
        @if(productForm.controls['productName'].touched){
@if(productForm.controls['productName'].errors?.['required']){
   <span>Name is required</span>
}}
      </div>
    </div>
    <div class="col-6">
      <label for="">Quantity</label>
      <input type="text" formControlName="productQuantity" class="form-control">
    </div>
    <div class="col-12">
      <label for="">Description</label>
      <textarea formControlName="productDescription"  class="form-control"></textarea>
    </div>
   
  </div>
  <div class="row pt-2">
    <div class="col-6 text-center">
      <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
    <div class="col-6 text-center">
      @if (productForm.controls['prodID'].value == '0') {
        <button class="btn btn-success" [disabled]="productForm.invalid" (click)="onSave()">Save Product</button>
      } @else {
<button type="button" class="btn btn-warning" [disabled]="productForm.invalid" (click)="onUpdate()">Update Product</button>
      }
      
      
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>